{% include 'flatpages/default.html' %}

<style>
    body { background-color : powderblue }
</style>


{% block content %}
<center>
<h2>
    Благодарим за авторизацию! <p></p>
</h2>
<h3>
    На вашу почту был отправлен код потверждения
</h3>

    </center>


<h4>
    Введите код:
</h4>
<form action = '' method = 'POST' >
    {% csrf_token %}
    <label for = 'code'></label>
    <input type = 'text' name = 'code'>
    <input type = 'submit' value = 'Отправить'>
</form>
{% if error %}
<h5>
    Введённый код неверен!
</h5>
{% endif %}
{% endblock content %}
